<nz-table #eventsTable [nzData]="events">
    <thead>
    <tr>
        <th>Date</th>
        <ng-container *ngFor="let prop of displayProps">
            <th>{{ prop.name }}</th>
        </ng-container>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let event of eventsTable.data"
        (mouseenter)="tooltipEnter($event, event)"
        (mouseleave)="tooltipExit($event, event)"
        (click)="showSummaryPopup($event, event)">
        <td>
            <p>{{ event.dateTime | date:'h:mm:ss a' }}</p>
            <p>{{ event.dateTime | date:'dd-MMM-yyyy' }}</p>
        </td>
        <ng-container *ngFor="let prop of displayProps">
            <td>{{displayValue(event, prop)}}</td>
        </ng-container>
    </tr>
    </tbody>
</nz-table>
