<button (click)="showModal()" nz-button nzType="default">Filter</button>

<nz-modal
    (nzOnCancel)="onCancelClicked()"
    [(nzVisible)]="isVisible"
    [nzFooter]="modalFooter"
    nzTitle="Events Filter"
>
    <p *ngIf="liveEnabled">
        Date range filtering is disabled when "Live" is enabled.
    </p>
    <div
        *ngIf="!liveEnabled"
        nz-row
        nzAlign="top"
        nzJustify="center"
        nzType="flex"
    >
        <div nz-col nzXs="12">
            From Date
            <nz-date-picker
                [(ngModel)]="dateTimeRange.oldestDateTime"
                [nzShowTime]="{ nzFormat: 'HH:mm' }"
                nzFormat="HH:mm dd-MMM-yyyy"
            ></nz-date-picker>
        </div>
        <div nz-col nzXs="12">
            To Date
            <nz-date-picker
                [(ngModel)]="dateTimeRange.newestDateTime"
                [nzShowTime]="{ nzFormat: 'HH:mm' }"
                nzFormat="HH:mm dd-MMM-yyyy"
            ></nz-date-picker>
        </div>
    </div>
    <br />

    <nz-table #filterTable [nzData]="filterProps" nzSize="small">
        <thead>
            <tr>
                <th>Name</th>
                <th>Filter</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of filterTable.data">
                <td>{{item.name}}</td>

                <ng-container [ngSwitch]="item.showFilterAs">
                    <td *ngSwitchCase="FilterAsEnum.SHOW_FILTER_AS_FREE_TEXT">
                        <input
                            [(ngModel)]="criteria(item).value"
                            nz-input
                            placeholder="Enter Text"
                        />
                    </td>

                    <td *ngSwitchCase="FilterAsEnum.SHOW_FILTER_SELECT_MANY">
                        <nz-select
                            [(ngModel)]="criteria(item).value"
                            nzMode="tags"
                            nzPlaceHolder="Select many"
                        >
                            <nz-option
                                *ngFor="let option of item.values"
                                [nzLabel]="option.name"
                                [nzValue]="option.value"
                            >
                            </nz-option>
                        </nz-select>
                    </td>

                    <td *ngSwitchCase="FilterAsEnum.SHOW_FILTER_SELECT_ONE">
                        <nz-select
                            [(ngModel)]="criteria(item).value"
                            nzAllowClear
                            nzPlaceHolder="Select one"
                            nzShowSearch
                        >
                            <nz-option
                                *ngFor="let option of item.values"
                                [nzLabel]="option.name"
                                [nzValue]="option.value"
                            >
                            </nz-option>
                        </nz-select>
                    </td>

                    <div *ngSwitchDefault>
                        <td>
                            <span nz-text> No Filter </span>
                        </td>
                    </div>
                </ng-container>
            </tr>
        </tbody>
    </nz-table>
</nz-modal>

<ng-template #modalFooter>
    <button
        (click)="resetDefaults()"
        class="pull-left"
        nz-button
        nzType="warning"
    >
        Reset Defaults
    </button>

    <button (click)="onCancelClicked()" nz-button nzType="default">
        Cancel
    </button>
    <button (click)="onOkClicked()" nz-button nzType="primary">Apply</button>
</ng-template>
